.home-page-container {
    > .home-page-background-container {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;

        > .home-page-background {
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #fff;
            height: 100%;
            width: 100%;
            filter: blur(10px);
            -webkit-filter: blur(10px);
            transform: scale(1.1);
        }
    }

    > .home-page-content {
        display: flex;
        justify-content: center;
        align-items: center;

        > h1 {
            z-index: 0;
            $font-size: 100px;
            font-size: $font-size;
            line-height: calc(#{$font-size} * 1.5);
        }
    }
}
