<div class="sign-up-page-container">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="sign-up-title-container">
            <h1 class="sign-up-title">Sign Up</h1>
        </div>
        <div *ngIf="submitted && authError" class="auth-error-container">
            <div class="auth-error">{{authError}}</div>
        </div>
        <div class="sign-up-inputs">
            <div class="input-container">
                <input matInput formControlName="email" type="text" placeholder="Email">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="input-container">
                <input matInput formControlName="password" type="password" placeholder="Password">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least {{passwordMinLength}} characters
                    </div>
                </div>
            </div>
            <mat-form-field class="restaurant-name-field-container">
                <mat-label>Restaurant Name</mat-label>
                <input matInput formControlName="name" type="text" maxLength="80" required>
                <mat-error *ngIf="f.name.errors && f.name.errors.required">Name is required</mat-error>
                <mat-error *ngIf="f.name.errors && f.name.errors.maxlength">Name must be between 1-80 characters
                </mat-error>
            </mat-form-field>
            <!-- <mat-form-field class="restaurant-brand-colors-field-container">
                <mat-label>Restaurant Brand Colors</mat-label>
                <input matInput formControlName="barndColors" type="text" maxLength="80" required>
                <mat-error *ngIf="f.brandColors.errors && f.brandColors.errors.required">Brand color is required</mat-error>
            </mat-form-field> -->

            <div class="graphics-fields-container">
                <image-input class="restaurant-image-input" formControlName="image" [submitted]="submitted"
                    [config]="imageInputsConfigs.image"></image-input>
            </div>


        </div>
        <!-- <div class="forgot-my-password-container">
            <div class="forgot-my-password">Forgot my password</div>
        </div> -->
        <div class="sign-up-button-container">
            <div class="sign-up-button-inner-container">
                <input class="sign-up-button" type="submit" value="Sign Up" [ngClass]="showLoader ? 'disabled' : ''"
                    [disabled]="showLoader">
                <div *ngIf="showLoader" class="loader-container">
                    <spinning-loader class="sign-up-loader" [color]="'#7845d1'"></spinning-loader>
                </div>
            </div>
        </div>
    </form>
</div>