.sign-up-page-container {
    color: white;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-size: 34px;

    > form {
        width: 600px;
        padding: 20px;
        border-radius: 20px;
        border: white 1px solid;
        background-color: #292929;
        margin: 50px 0px;

        > .sign-up-title-container {
            display: flex;
            justify-content: center;
            margin-bottom: 5px;

            > .sign-up-title {
                user-select: none;
                font-size: 42px;
            }
        }

        > .auth-error-container {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;

            > .auth-error {
                font-size: 80%;
                color: #dc3545;
            }
        }

        > .sign-up-inputs {
            margin-bottom: 20px;

            > mat-form-field {
                width: 100%;
                font-size: 20px;
            }

            > .brand-colors-container {
                display: flex;
                justify-content: space-between;

                > mat-form-field {
                    font-size: 20px;
                    width: 30%;
                }
            }

            > .graphics-fields-container {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;

                > .restaurant-image-input {
                    width: 300px;
                    height: 300px;
                    font-size: 20px;
                }
            }

            > .recaptcha-container {
                display: flex;
                justify-content: center;
            }
        }

        > .sign-up-button-container {
            display: flex;
            align-items: center;
            justify-content: center;

            > .sign-up-button-inner-container {
                position: relative;
                display: flex;
                align-items: center;

                > .sign-up-button {
                    padding: 15px;
                    font-size: 30px;
                    outline: none;
                    border: white 1px solid;
                    border-radius: 10px;
                    color: white;
                    background-color: #7845d1;
                    cursor: pointer;
                    user-select: none;
                    line-height: 20px;
                    font-family: Roboto, "Helvetica Neue", sans-serif;

                    &.disabled {
                        color: rgba(16, 16, 16, 0.4);
                        background-color: rgba(239, 239, 239, 0.3);
                        border-color: rgba(118, 118, 118, 0.3);
                        cursor: not-allowed;
                    }
                }

                > .loader-container {
                    position: absolute;
                    right: -45px;

                    > .login-loader {
                        display: flex;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.4);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 0.4);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(0, 0, 0, 0.4);
}
