@import "../../../../scss/global/index.scss";

@include media("screen", "<mobile") {
    .image-field-container {
        > .upload-image-field-error {
        }

        > .image-field-loader {
            > spinning-loader {
            }
        }

        > .image-preview-container {
            > .image-preview-buttons-container {
                > .remove-image-button,
                .edit-crop-button {
                    width: 28px;
                    height: 28px;

                    > .mat-icon {
                        height: 18px;
                        width: 18px;
                        font-size: 18px;
                    }

                    &:hover {
                        opacity: 0.7;
                    }
                }

                > .remove-image-button {
                    margin-bottom: 6px;
                }

                > .edit-crop-button {
                }
            }

            > img.crop-disabled {
            }
        }

        > .image-field {
            &.hidden {
                display: none;
            }

            &.error {
            }

            &:hover {
                opacity: 0.7;
            }

            > .upload-image-label {
                font-size: 18px;
                margin-bottom: 6px;

                > mat-label:nth-child(2) {
                }
            }

            > mat-label {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}
